<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="그린 라이트"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Randomchatting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.kj.random_chatting.common.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kj.random_chatting.common.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.kj.random_chatting.userRegist.UserRegistActivity" />
        <activity android:name="com.kj.random_chatting.userFileUpload.FileUploadActivity" />
        <activity android:name="com.kj.random_chatting.userList.UserListActivity" />
        <activity android:name="com.kj.random_chatting.login.LoginActivity" />
        <activity android:name="com.kj.random_chatting.userChatting.UserChattingActivity" />
        <activity android:name="com.kj.random_chatting.userChattingRoomCreate.UserChattingRoomCreateActivity" />
        <activity android:name="com.kj.random_chatting.onboarding.OnboardingActivity" />
        <activity android:name="com.kj.random_chatting.registInputBirthday.RegistInputBirthdayActivity"/>
        <activity android:name="com.kj.random_chatting.registInputEmailPw.RegistInputEmailPwActivity"/>
        <activity android:name="com.kj.random_chatting.registInputGender.RegistInputGenderActivity"/>
        <activity android:name="com.kj.random_chatting.registInputInformation.RegistInputInformationActivity"/>
        <activity android:name="com.kj.random_chatting.registInputInterest.RegistInputInterestActivity"/>
        <activity android:name="com.kj.random_chatting.registPhoneNumber.RegistPhoneNumberActivity"/>
        <activity android:name="com.kj.random_chatting.registPhoneTextCode.RegistPhoneAuthCodeActivity"/>

        <service android:name=".common.ForecdTerminationService" android:stopWithTask="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="14559e5e5e2d7a6c6bbc8df6c1cb8b83" />

        <service android:name="com.kj.random_chatting.messenger.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>